<h3>Top Models</h3>
<div class="grid grid-pad">
  <a *ngFor="let avd of models" class="col-1-4"
     routerLink="/avddetail/{{avd.avd_id}}">
    <div class="module avd">
      <h4>{{avd.avd_name}}</h4>
      <h4>{{avd.ip}}:{{avd.port}}</h4>
    </div>
  </a>
</div>

<app-model-search></app-model-search>

<h3>Top Captures</h3>
<div class="grid grid-pad">
  <a *ngFor="let cap of captures" class="col-1-4"
     routerLink="/capturedetail/{{cap.capture_id}}">
    <div class="module avd">
      <h4>{{cap.capture_id}}</h4>
      <h4>Packets: {{cap.number_of_packets}}</h4>
    </div>
  </a>
</div>

